.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700; }
  .container .result {
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.2em;
    padding-bottom: 5px;
    border-radius: 5px;
    border-bottom: 5px solid #00a5b4; }
  .container .inputContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; }
  .container .loginButton {
    margin-top: 40px;
    background-color: #00a5b4;
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    padding: 10px 20px;
    color: white;
    border-radius: 15px;
    border: 1px solid transparent;
    font-size: 2rem;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    transition: all .2s; }
    .container .loginButton:hover {
      transform: scale(1.07);
      background-color: #d19900;
      cursor: pointer; }
